@import "../node_modules/modern-normalize/modern-normalize.css";

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}
.sidebar {
  background-color: #701a75;
  padding: 0 5%;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
.sidebar .projects-list > li {
  display: grid;
  grid-template-columns: 1fr 100px 15px;
}
.sidebar .due-date,
.sidebar .expand {
  justify-self: end;
}

.sidebar .expand {
  font-weight: 700;
}

.sidebar .expanded {
  display: none;
}
.sidebar .todos-list {
  grid-column-start: span 3;
  font-size: 0.8em;
}
.sidebar .todos-list > li {
  display: grid;
  grid-template-columns: 15px 1fr 85px 15px;
}

.sidebar .todo-status {
  justify-self: center;
  align-self: center;
}
.sidebar .todo-due-date {
  justify-self: end;
}

.content {
  background-color: #86198f;
  box-shadow: inset 5px 0px 5px 0px #4a044e;
}
