@import "../node_modules/modern-normalize/modern-normalize.css";

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}
.sidebar {
  position: relative;
  background-color: #701a75;
  padding: 0 5%;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
.sidebar .projects-list > li {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.sidebar .due-date {
  justify-self: end;
}

.sidebar .add-project-btn {
  justify-self: start;
  border: none;
  border-radius: 4px;
  background-color: #4ade80;
  padding: 6px 10px;
  margin-top: 1rem;
  box-shadow: 3px 3px 5px 0px #052e16;
}

.content {
  background-color: #86198f;
  padding: 0 5%;
  box-shadow: inset 5px 0px 5px 0px #4a044e;
}

.container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: min-content;
  gap: 50px;
  position: relative;
}

.todo-card > *,
.todo-card > * > * {
  margin: 0 0 0.25rem 0;
}

.todo-card {
  color: #404040;
  background-color: #fef3c7;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 5px #18181b;
  align-self: stretch;
  padding: 10px 20px;
}

.todo-card.todo-complete {
  background-color: #86efac;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.todo-header h3 {
  color: #404040;
}

.todo-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  gap: 20px;
  align-items: center;
}

.priority-low,
.priority-medium,
.priority-high {
  font-size: 1.75rem;
}

.priority-low {
  color: #0ea5e9;
}

.priority-medium {
  color: #15803d;
}

.priority-high {
  color: #dc2626;
}

.todo-card .due-date,
.todo-card .description {
  font-size: 0.8rem;
  font-weight: 500;
}

.todo-card .description {
  margin-bottom: 0;
}

.todo-card .notes {
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.add-todo-button-container {
  display: flex;
  justify-content: center;
}

.add-todo-btn {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  line-height: 1;
  font-weight: 700;
  font-size: 290px;
}

form {
  background-color: white;
  color: #404040;
}

input,
select {
  color: #404040;
}

.form-new-project {
  /* display: none; */
  position: absolute;
  top: 13%;
  left: 5%;
  width: 90%;
  border-radius: 1.5rem;
  padding: 8px 4px;
  box-shadow: 0px 0px 25px 5px #18181b;
}

.form-new-todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 1.5rem;
  padding: 8px 4px;
  box-shadow: 0px 0px 150px 5px #18181b;
}

.form-new-project fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-new-todo fieldset {
  border: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.form-new-todo fieldset > * {
  grid-column: span 2;
}

.form-new-todo fieldset > .date-field,
.form-new-todo fieldset > .priority-field {
  grid-column: span 1;
}

legend {
  font-size: 1.5rem;
  font-weight: 500;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-field.form-buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 120px));
  grid-template-rows: 40px;
}
